@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    font-family: Poppins;
}
.container {
    max-width: 1170px;
    padding: 0;
}

p{
    color: rgb(131, 131, 131);
}

a{
    text-decoration: none;
}

img, svg {
    vertical-align: middle;
}

ul{
    margin-bottom: 0;
}

/* <!-- Banner Section Start --> */
.main-banner {
    padding-top: 150px;
    padding-bottom: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.font-title-lg {
    font-size: 4rem;
    font-weight: 700;
}
.subtitle-lg{
    font-size: 1rem;
    font-weight: 500;
}
.image-fluid{
    width: 100%;
    height: auto;
}
.banner-input{
    background: #fff;
    display: flex;
    width: auto;
    height: 75px;
    padding-left: 25px;
    padding-right: 10px;
    position: relative;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 32px 60px rgb(2 100 237 / 8%);

}
.search-icon{
    font-size: 1.7rem;
    margin-top: 10px;
}
.banner-input .main-input{
    margin-left: 0px;
    width: 315px;
}
.banner-input .main-input input {
    width: inherit;
    border: none;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0px;
    padding-right: 15px;
}
.banner-input .main-input i{
    position: absolute;
}
.search-button{
    margin-right: -5px;
}
.search-button .btn-lg{
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px 15px 30px;
}
/* <!-- Banner Section Start --> */

/* <!-- Top Categories Section --> */
.top-categories-shape img{
    position: absolute;
}
.shape-1{
    margin-bottom: -140px;
}
.top-categories-shape .shape-2{
    right: 0;
}
.category-content{
    border: 1px solid rgb(226, 226, 226);
    border-radius: 8px;
}
.categories-item-1{
    color: #1089ff;
}
.categories-item-1 .browse-category-1 {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1.5px solid #1088ff70;
    border-radius: 50%;
}
.categories-item-2{
    color: #ffc91b;
}
.categories-item-2 .browse-category-2 {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1.5px solid #ffca1b81;
    border-radius: 50%;
}
.categories-item-3{
    color: #ff7a1a;
}
.categories-item-3 .browse-category-3 {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1.5px solid #ff791a93;
    border-radius: 50%;
}
.categories-item-4{
    color: #00af91;
}
.categories-item-4 .browse-category-4 {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1.5px solid #00af9291;
    border-radius: 50%;
}
.item-header{
    font-size: 1.1rem;
    font-weight: 600;
}
.browse-more-btn .btn{
    font-size: 1rem;
    font-weight: 600;
}
/* <!-- Top Categories Section --> */


/* <!-- Popular Course Section --> */
.nav-link{
    color: rgb(110, 110, 110);
}
.nav-pills{
    border-bottom: 1px solid rgb(255, 255, 255);
}

.card-body{
    padding: 0;
}
.content-card-option{
    border-top: 1px solid rgb(219, 219, 219);
}
.content-card-option span{
    padding-left: 5px;
}
.popular-course-shape img{
    position: absolute;
}
.popular-course-shape .dot-07{
    top: 0;
    right: 0;
}
/* <!-- Popular Course Section --> */

/* <!-- Feature Question Section --> */
.card-content-bg-a{
    height: 72px;
    width: 72px;
    background: rgba(0,175,146,0.1);
}
.card-feature .card-content-icon-1{
    font-size: 2.3rem;
    color: #00af91;
}
.card-content-bg-b{
    height: 72px;
    width: 72px;
    background: rgba(16,137,255,0.1);
}
.card-feature .card-content-icon-2{
    font-size: 2.3rem;
    color: #1089ff;
}
.card-content-bg-c{
    height: 72px;
    width: 72px;
    background: rgba(241,92,76,0.1);
}
.card-feature .card-content-icon-3{
    font-size: 2.3rem;
    color: #f15c4c;
}
/* <!-- Feature Question Section --> */

/* <!-- Learning Step Section --> */
.items-number{
    background-color: #1089ff14;
    height: 72px;
    width: 72px;
    margin-right: 16px;
    border-radius: 50%;
    padding-top: 19px;
    padding-left: 20px;
    padding-right: 20px;
}
.items-number span{
    font-size: 1.5rem;
    align-items: center;
    color: #1089ff;
    font-weight: 600;
}
/* <!-- Learning Step Section --> */

/* <!-- Learning Step Section --> */
.learning-step-img{
    padding-top: 80px;
    padding-left: 80px;
    z-index: 2;
}
.learning-step-shape-a{
    position: absolute;
    margin-top: -472px;
    margin-left: 100px
}
.learning-step-shape-b{
    position: absolute;
    margin-top: -230px;
    margin-left: 300px;
    z-index: -2;
}
/* <!-- Learning Step Section --> */

/* <!-- Student Review Section --> */
.review-star li{
    list-style: none;
    color: #ff7a1a;
}
.testimonial-user-star ul{
    float: right;
}
.testimonial-text{
    font-size: 1.1rem;
    line-height: 1.7rem;
    color: rgb(75, 75, 75);
}
/* <!-- Student Review Section --> */

/* <!-- Instructor Intro Section --> */
.teacher-single-name{
    border-left: 1px solid rgb(218, 218, 218);
    border-right: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    border-radius: 0 0 5px 5px;
}
.teacher-single-card img{
    width: 100%;
}
/* <!-- Instructor Intro Section --> */

.instructor-head{
    padding-top: 2rem;
}
.teacher-btn-text{
    font-size: 1rem;
    font-weight: 600;
}